.container{
    display: flex;
    /* display: inline-flex; */
    gap: 30px;
    /* main axis top-bottom */
    /* flex-direction: column; */
    /* (main axis left - right) */
    margin-bottom: 50px;

    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */
    /* flex-wrap: wrap; */
    /* flex-flow flex direction and fle -wrap */
    flex-flow: row wrap;
    /* main axis  */
    justify-content: center;
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    background-color: bisque;
    min-height: 400px;
    /* cross axis */
    align-items: center;
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    align-items: stretch;
    padding: 30px 0;
}
.flex-items{
    /* width: 200px; */
    width: 70px;
    /* height: 70px; */
    background-color: teal;
}

/* cover all the properties for justify-content */
/* cover all the properties for align-items */
/* What is align-content? */